.portfolio{
    height: 1100px;
    width: 100%;
    padding: 200px 0px 50px;
}
.portfolio h1{
    font-size: 50px;
    font-weight: bold;
}
.card{
    margin-top: 40px;
}

@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width:991px){

}

@media(min-width: 575px) and (max-width: 767px){

}

@media(min-width: 480px) and (max-width: 574px){

}

@media(max-width: 479px){
    .portfolio{
        height: 1725px;
    }
}